.camera {
	width: 100%;
	height: calc(100vh - 77px);
	padding: 12px;
	position: relative;
}
.img {
	width: 100%;
	height: calc(100vh - 205px);
	object-fit: cover;
}

.btn {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: none;
	border: 1px solid var(--white);
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
