.btn {
	width: 100%;
	max-width: 280px;
	height: 40px;
	border-radius: 30px;
	border: none;
	outline: none;
	color: var(--white);
	background: var(--main);
	transition: 0.3s all ease;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;

	&:focus-within {
		border: 2px solid var(--blue);
	}
}

.outline {
	width: 133px;
	height: 30px;
	background: none;
	outline: none;
	border: 1px solid var(--grey);
	color: var(--grey);
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	margin-top: 60px;
	&:focus-within {
		border: 1px solid var(--blue);
	}
}
