.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1C1B1F;
  }
  
  .title {
    
    width: 195px;
    height: 85px;
    font-weight: 400;
    margin-top: 113px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #C7C4DC;


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .subtitle {
    width: 294px;
    height: 38px;
    margin-top: 111px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #C7C4DC;
  }
  
  .inputWrapper {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 280px;
    height: 50px;
    background-color: #1C1B1F;
    border: 2px solid var(--grey);
    border-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  
  .inputIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    
  }
  
  .input {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .confirmButton {
    display: block;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #6750A4;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFBFE;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: #ffc600;
    }
  
    &:active {
      transform: translateY(2px);
    }
  }