@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes first {
	0% {
		font-size: 0;
	}
	100% {
		font-size: 58px;
	}
}

@keyframes progress {
	0% {
		width: 0;
	}
	100% {
		width: 160px;
	}
}
