.signup {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 40px;
	height: 100vh;
}

.logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	margin-top: 70px;
}

.btnwrap {
	width: 100%;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.or {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--white);
}
.forgot,
.sign_up {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: var(--grey);
	margin-top: 14px;
}
